*{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;

}
.wrapper {
    max-width: 1366px;
    maring: 0 auto;
    padding: 30px 100px;
}
.header, .main {
    padding: 20px 40PX;

}
.header{
    padding-bottom: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #acacac;
}
.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;

}
.logo span{
    display: block;
    font-weight: 400;
}
.menu li {
    display: inline-block;
    padding: 10px;
}
.footer{
    padding: 90px 600px;
}
.info span{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}
.info {
    margin-top: 30px;
}
